{% extends "base.html" %}
{% load staticfiles %}
{% block title %}相关链接{% endblock %}
{% block content %}

<div class="container col-md-9">
   <div class="thumbnail">
        <tr>
            <td align="center" style="width: 931px" class="style1">
            <p align="justify"><font color="#0000FF"><b>Distinguished professor:</b></font></p>
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="justify" style="width: 196px">
                    <a target="_blank"  href="http://www3.ntu.edu.sg/home/elpwang/">
                    Prof.Libo Wang</a></td>
                    <td align="justify" style="width: 186px">
                    <a target="_blank"  href="http://www.aut.ac.nz/research/research-institutes/kedri">
                    Prof.Nikola Kasabov</a></td>
                    <td align="justify" style="width: 187px">
                    <a target="_blank"  href="http://www3.ntu.edu.sg/home/asysong/">
                    Dr.Yew-Soon Ong</a></td>
                </tr>

                <tr>
                    <td align="justify" width="158">
                    <a target="_blank"  href="http://www3.ntu.edu.sg/home/czsun/">
                    Prof.Chengzheng Sun</a></td>
                    <td align="justify" style="width: 196px">
                    <a  target="_blank" href="http://www.ie.cuhk.edu.hk/people/bobli.html">
                    Prof.Shuo-Yen Robert Li</a> </td>
                    <td align="justify" style="width: 186px">
                    <a target="_blank"  href="http://baike.baidu.com/view/787616.htm">
                    Prof.Liren Duan</a></td>
                </tr>
                <tr>
                    <td align="justify" style="width: 187px">
                    <a target="_blank"  href="http://it.chd.edu.cn/info/1026/6349.htm">
                    Prof.Xiangmo Zhao</a></td>
                    <td align="justify" width="158" >
                    <a target="_blank"  href="http://see.xidian.edu.cn/faculty/mggong/">
                    Prof.Maoguo Gong</a></td>
                    <td align="justify" style="width: 196px">
                    <a target="_blank"  href="http://www.unm.edu/~xinluo/">Ph.D. Xin
                    Luo</a></td>
                </tr>
                <tr>
                    <td align="justify" style="width: 186px">
                    <a target="_blank"  href="http://dxxy.xpu.edu.cn/showxkjs.asp?id=193">
                    Prof. Lanshuang Qin</a></td>
                    <td align="justify" style="width: 187px">
                    <a target="_blank"  href="http://yzb.dhu.edu.cn:8080/YZW/DSXXXX.jsp?DSBH=10103913">
                    Prof.Yongsheng Ding</a></td>
                    <td align="justify" width="158">
                    <a target="_blank"  href="http://www.dhu.edu.cn/e7/bb/c5960a59323/page.htm">
                    Prof.Wenke Lu</a></td>
                </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="width: 921px" class="style1">
            <p align="justify"><font color="#0000FF"><b>Good Journals:</b></font></p>
            <table border="0" cellspacing="0" cellpadding="0" style="width: 102%" class="style1">
                <tr>
                    <td style="width: 474px">
                    <a target="_blank" href="http://info.scichina.com">中国科学F辑(信息科学) Science in China Series F</a></td>
                    <td style="width: 69px">　</td>
                    <td width="454">
                    <a target="_blank" href="http://www.ejournal.org.cn/cn/dqml.asp">电子学报 Chinese Journal of Electronics</a></td>
                </tr>
                <tr>
                    <td style="width: 474px">
                    <a target="_blank"  href="http://csb.scichina.com">科学通报 Chinese Science Bulletin</a></td>
                    <td style="width: 69px">　</td>
                    <td width="454">
                    <a target="_blank" href="http://www.jos.org.cn">软件学报 Journal of Software</a></td>
                </tr>
                <tr>
                    <td height="27" style="width: 474px">
                    <a target="_blank" href="http://cjc.ict.ac.cn/">计算机学报 Chinese Journal of Computers</a></td>
                    <td height="27" style="width: 69px">　</td>
                    <td width="454" height="27">
                    <a target="_blank" href="http://www.aas.net.cn/cn/index.asp">自动化学报 ACTA AUTOMATICA SINICA</a></td>
                </tr>
                <tr>
                    <td height="27" style="width: 474px">
                    <a target="_blank"  href="http://crad.ict.ac.cn/">计算机研究与发展Journal of Computer Research and Development</a></td>
                    <td height="27" style="width: 69px">　</td>
                    <td width="454" height="27">
                    <a target="_blank"  href="http://cims.diamt.net.cn/">计算机集成制造系统 Computer Integrated Manufacturing Systems</a></td>
                </tr>
                <tr>
                    <td height="27" style="width: 474px">
                    <a target="_blank"  href="http://jcst.ict.ac.cn:8080/jcst/EN/volumn/home.shtml">Journal of Computer Science and Technology</a></td>
                    <td height="27" style="width: 69px">　</td>
                    <td width="454" height="27">　</td>
                </tr>
                <tr>
                    <td width="903" height="20" colspan="3">
                    <hr color="#BAD5F3" size="1"></td>
                </tr>
                <tr>
                    <td style="width: 474px">
                    <a target="_blank"  href="http://www.fzxb.org.cn/">纺织学报(Journal of
            Textile Research)</a></td>
                    <td style="width: 69px">　</td>
                    <td width="454">
                    <a target="_blank"  href="http://www.cctti.com/webtec/wwwroot/periodical/">棉纺织技术(Cotton Textile Technology)</a></td>
                </tr>
                <tr>
                    <td style="width: 474px">丝绸(Silk)</td>
                    <td style="width: 69px">　</td>
                    <td width="454">
                    <a target="_blank"  href="http://www.wooltex.com.cn/">毛纺科技(Wool Textile
            Journal)</a></td>
                </tr>
                <tr>
                    <td style="width: 474px">
                    <a target="_blank"  href="http://www.ctainfo.cn/">纺织器材(Textile
            Accessories)</a></td>
                    <td style="width: 69px">　</td>
                    <td width="454">
                    <a target="_blank"  href="http://www.hmei.com.cn/qg.htm">轻工机械(Light Industry Machinery)</a></td>
                </tr>
                <tr>
                    <td style="width: 474px">
                    <a target="_blank"  href="http://www3.dhu.edu.cn/xuebao/English_edition.html">Journal of Donghua University(English Edition)</a></td>
                    <td style="width: 69px">　</td>
                    <td width="454">　</td>
                </tr>
                <tr>
                    <td width="903" colspan="3">
                    <hr color="#BAD5F3" size="1"></td>
                </tr>
                <tr>
                    <td style="width: 474px; height: 26px;">
                    <a target="_blank"  href="http://trj.sagepub.com/">Textile Research Journal《纺织研究杂志》英国</a></td>
                    <td style="width: 69px; height: 26px;">　</td>
                    <td width="454" style="height: 26px">
                    <a target="_blank"  href="http://jit.sagepub.com/">Journal of Industrial Textiles《工业纺织品杂志》美国</a></td>
                </tr>
                <tr>
                    <td style="width: 474px">
                    <a target="_blank"  href="http://www.tekstilvekonfeksiyon.com/en/">TEKSTIL VE KONFEKSIYON《纺织品》土耳其</a></td>
                    <td style="width: 69px">　</td>
                    <td width="454">
                    <a target="_blank"  href="http://www.jeffjournal.org/">Journal of Engineered Fibers
            and Fabrics《纤维与纺织工程杂志》印度</a></td>
                </tr>
                <tr>
                    <td style="width: 474px">
                    <a target="_blank"  href="http://hrcak.srce.hr/index.php?lang=en&show=casopis&id_casopis=8">TEKSTIL《纺织品》克罗地亚</a></td>
                    <td style="width: 69px">　</td>
                    <td width="454">
                    <a target="_blank"  href="http://www.fibtex.lodz.pl/">Fibers &amp; Textiles
            in Eastern Europe《东欧的纤维制品和纺织品》波兰</a></td>
                </tr>
                <tr>
                    <td style="width: 474px">
                    <a target="_blank"  href="http://www.informaworld.com/smpp/title~content=t778164490~db=all">Journal of The Textile Institute《纺织学会志》英国</a></td>
                    <td style="width: 69px">　</td>
                    <td width="454">　</td>
                </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="width: 921px" class="style1">
            <p align="justify"><b><font color="#0000FF">Resource:</font></b></p>
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="225">
                    <p align="justify">
                    <a target="_blank"  href="http://www.engineeringvillage2.org/controller/servlet/Controller">EI</a></font></td>
                    <td width="9">　</td>
                    <td align="center" width="234">
                    <p align="justify">
                    <a target="_blank"  href="http://ieeexplore.ieee.org/Xplore/dynhome.jsp">IEEE</a></font></td>
                    <td align="center">　</td>
                    <td align="center" style="width: 221px">
                    <p align="justify">&nbsp;<a target="_blank"  href="http://www.sciencedirect.com/">ScienceDirect</a>&nbsp;</font></td>
                    <td align="center" style="width: 30px">　</td>
                    <td align="center">
                    <p align="justify">
                    <a target="_blank"  href="http://springerlink.lib.tsinghua.edu.cn/home/main.mpx">Springer</a></font></td>
                </tr>
                <tr>
                    <td width="225">
                    <p align="justify">
                    <a target="_blank"  href="http://www.scopus.com/home.url">Scopus</a></font></td>
                    <td width="9">　</td>
                    <td align="center" width="234">
                    <p align="justify">&nbsp;<a target="_blank"  href="http://acm.lib.tsinghua.edu.cn/acm/main.nsp?view=ACM">ACM</a></font></td>
                    <td align="center">　</td>
                    <td align="center" style="width: 221px">
                    <p align="justify">
                    <a target="_blank"  href="http://mitpress.mit.edu/main/home/default.asp">MIT</a></font></td>
                    <td align="center" style="width: 30px">　</td>
                    <td align="center">
                    <p align="justify">
                    <a target="_blank"  href="http://www.informatik.uni-trier.de/~ley/db/">DBLP</a></font></td>
                </tr>
                <tr>
                    <td width="225" align="center">
                    <p align="justify">
                    <a target="_blank"  href="http://www.33tt.com/tools/ztf/simple.htm">中国图书馆分类法简表和查询系统</a></td>
                    <td width="9">　</td>
                    <td width="234">
                    <p align="justify">
                    <a  target="_blank" href="http://lib.xpu.edu.cn/Service/tgzn/scifzqk.htm">SCI收录20种纺织期刊投稿指南</a></td>
                    <td>　</td>
                    <td style="width: 221px">
                    <p align="justify">
                    <a target="_blank" href="http://lib.xpu.edu.cn/Service/Core%20Journals.htm">2008年中文核心期刊目录</a></td>
                    <td style="width: 30px">　</td>
                    <td>
                    <p align="justify">
                    <a  target="_blank" href="http://lib.xpu.edu.cn/Service/zwtgzn.htm">2004年中文核心期刊投稿指南</a></td>
                </tr>
                <tr>
                    <td width="225" align="center">
                    <p align="justify"><font color="#0000ff">
                    <a   target="_blank" href="http://www.thomsonscientific.com/cgi-bin/jrnlst/jloptions.cgi?PC=H">AHCI收录期刊目录</a><font color="#000000">&nbsp;</font></font></td>
                    <td width="9">　</td>
                    <td width="234">
                    <p align="justify"><font color="#0000ff">
                    <a   target="_blank" href="http://www.thomsonscientific.com/cgi-bin/jrnlst/jloptions.cgi?PC=J">SSCI收录期刊目录</a></font></td>
                    <td>　</td>
                    <td style="width: 221px">
                    <p align="justify">
                    <a  target="_blank" href="http://lib.xpu.edu.cn/Service/tgzn/tgjq.htm">SCI、Ei来源刊投稿技巧</a></td>
                    <td style="width: 30px">　</td>
                    <td>
                    <p align="justify">
                    <a   target="_blank" href="http://www.thomsonscientific.com/cgi-bin/jrnlst/jloptions.cgi?PC=D">SCI收录期刊目录</a></td>
                </tr>
                <tr>
                    <td width="225" align="center">
                    <p align="justify">
                    <a  target="_blank"  href="http://www.ei.org.cn/doca/yq.doc">EI对论文摘要的要求</a></td>
                    <td width="9">　</td>
                    <td width="234">
                    <p align="justify">
                    <a  target="_blank"  href="http://www.ei.org.cn/twice/coverage.jsp">EI收录中国出版物</a></td>
                    <td>　</td>
                    <td style="width: 221px">
                    <p align="justify">
                    <a  target="_blank"  href="http://usage.engineeringvillage2.com.cn/cpx/web_pie.list_pie_alpha?letter=A&showop=P">EI收录全部出版物</a></td>
                    <td style="width: 30px">　</td>
                    <td>
                    <p align="justify">
                    <a   target="_blank"  href="http://meeting.xjtu.edu.cn/front/index.do">西安交大学术资源</a></td>
                </tr>
                <tr>
                    <td width="225" align="center">
                    <p align="justify">
                    <a target=_blank href="http://ieeexplore.ieee.org/xpl/tocresult.jsp?">IEEE Xplore</a></td>
                    <td width="9">　</td>
                    <td width="234">
                    <a target="_blank"  href="http://202.198.141.98:88/demo/findcoreej.htm">中外文核心期刊查询系统</a></td>
                    <td>　</td>
                    <td style="width: 221px">　</td>
                    <td style="width: 30px">　</td>
                    <td>　</td>
                </tr>
            </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="width: 921px" class="style1">
            <p align="justify"><b><font color="#0000FF">Web:</font></b></p>
            <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-width: 1px">
                <tr>
                    <td width="210">
                    <a target="_blank" href="xian.htm">Introduce to Xi'an</a></td>
                    <td width="17">　</td>
                    <td width="226">
                    <a target="_blank"  href="http://www.2345.com/tools/train.htm">火车时刻</a></td>
                    <td width="13">　</td>
                    <td width="210">
                    <a target="_blank"  href="http://www.qunar.com/?dh=n7">查航班</a></td>
                    <td width="184">
                    <a target="_blank"  href="http://www.2345.com/tools/translate.htm">在线翻译</a></td>
                    <td>　</td>
                </tr>
                <tr>
                    <td width="210">
                    <a target="_blank"  href="http://www.nsfc.gov.cn">NSFC</a></font></td>
                    <td width="17">　</td>
                    <td width="226">
                    <a target="_blank"  href="http://www.linkwan.com/gb/broadmeter/SpeedAuto/">网速测试</a></td>
                    <td width="13">　</td>
                    <td width="210">
                    <a target="_blank"  href="http://www.2345.com/tools/jianfanzh.htm">繁体字</a></td>
                    <td width="184">
                    <a target="_blank"  href="http://www.2345.com/tools/huafcx.htm">话费查询</a></td>
                    <td>　</td>
                </tr>
                <tr>
                    <td height="25" width="210">
                    <a target="_blank"  href="http://www.863.org.cn">863</a></font></td>
                    <td height="25" width="17">　</td>
                    <td height="25" width="226">
                    <a target="_blank"  href="http://www.2345.com/tools/kuaidi.htm">快递查询</a></td>
                    <td height="25" width="13">　</td>
                    <td height="25" width="210">
                    <a target="_blank"  href="http://www.2345.com/tools/ip.htm">IP地址</a></td>
                    <td height="25" width="184">
                    <a target="_blank"  href="http://bus.mapbar.com/">公交查询</a></td>
                    <td height="25">　</td>
                </tr>
                <tr>
                    <td width="210">
                    <a target="_blank"  href="http://www.973.gov.cn/">973</a></font></td>
                    <td width="17">　</td>
                    <td width="226">
                    <a target="_blank"  href="http://www.2345.com/tools/rili.htm">万年历</a></td>
                    <td width="13">　</td>
                    <td width="210">　</td>
                    <td width="184">　</td>
                    <td>　</td>
                </tr>
                </table>
            </td>
        </tr>
   </div>
</div>
{% endblock %}