{% extends 'base.html' %}
{% block title %} 论文及专著 {% endblock %}

{% block content %}
<div class="container">
<div class="col-md-10" style="font-size: larger">
    <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;围绕三个研究方向，该中心核心成员已在《IEEE Computing in Science and Engineering》、《Journal of Industrial Textiles》、《Human Factors and Ergonomics in Manufacturing & Service Industries》、《机械工程学报》、《计算机集成制造系统》等国内外重要期刊、会议上发表学术论文150余篇，同时出版《Guide to e-Science》、《棉纺织企业车间智能生产系统》等学术专著5部。</p>
    <nav class="navbar navbar-default" role="navigation" >
        <div>
            <ul class="nav nav-pills nav-justified" >
                <li><a href="{% url 'monographs:monographs_list_year' 2015 %}" >2015</a></li>
                <li><a href="{% url 'monographs:monographs_list_year' 2014 %}">2014</a></li>
                <li><a href="{% url 'monographs:monographs_list_year' 2013 %}">2013</a></li>
                <li><a href="{% url 'monographs:monographs_list_year' 2012 %}">2012</a></li>
                <li><a href="{% url 'monographs:monographs_list_year' 2011 %}">2011</a></li>
                <li><a href="{% url 'monographs:monographs_list_year' 2010 %}">2010</a></li>
                <li><a href="{% url 'monographs:monographs_list_year' 2009 %}">2009</a></li>
            </ul>
        </div>
    </nav>


<div class="thumbnail">
    <ol>
    {% for monographs in monographs_list %}
        <li>
        {{ monographs.name }}.{{ monographs.subject }}.{{ monographs.publishing }}.{{ monographs.time }}.
        </li>
        <hr>
    {% endfor %}
    </ol>
{% include "paginator.html" %}
</div>
</div>
</div>

{% endblock %}