{% extends "base.html" %}
{% load staticfiles %}
{% block title %}首页{% endblock %}
{% block content %}

<div class="container col-md-9">
<div class="thumbnail">
    <b>一、成立背景</b><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当代科学研究已进入了数据密集型和互联网+时代。美国提出的“先进制造业伙伴计划”、德国的“工业4.0”，以及我国提出的“中国制造2025”计划，都无不体现了信息化技术在先进制造、新材料研发中的重要作用。因此，探讨新常态下如何更好地采用信息化技术来提升纺织制造业水平、加快新材料研发显得尤为紧迫。</span><br>
    <b>二、中心简介</b><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纺织企业管理信息研究中心是依托管理学院，围绕“管理科学与工程”一级学科，旨在探讨如何更好地采用信息学(Informatics)和管理学相结合的有关方法和技术，重点开展在互联网+纺织智造，纤维材料高通量计算，多源异构纺织数据融合等三个交叉学科的应用基础研究，其目的在于研发具有自主知识产权的纺织设备监测装置，以提高纺织制造水平、加强信材料研发，提升陕西乃至全国纺织行业的科技创新能力，尤其是研究新常态下如何更好地采用信息化技术来提升纺织制造业的水平。</span><br>
    <b>三、中心定位</b><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;探讨交叉学科开展方法和模式，开展高新技术在纺织行业中的应用研究，培养信息化高端人才。</span><br>
    <b>四、研究方向</b><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重点围绕互联网+纺织智造，纤维材料高通量计算，多源异构纺织数据融合三个重要和前沿性领域。</span><br>
    <b>五、发展思路</b><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以学科建设为龙头，以人才培养为目标，以科技创新驱动产业发展为根本，以用户实际需求为牵引，利用信息感知与识别技术、信息交互与控制技术、信息计算与大数据处理等信息学方法和技术，研究互联网+纺织智造，纤维材料高通量计算，多源异构纺织数据融合等的关键共性技术，并将研究成果应用于纺织企业创新发展、社会经济建设，以及部署实际应用。同时，探讨如何开展交叉学科前沿领域研究的方法和技术，为今后“信息学应用研究中心”的成立奠定基础。</span><br>
    <b>六、发展目标</b><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自2015年成立以来，始终坚持“纺织智能制造”特色，积极寻找新的研究方向，全力打造面向纺织企业的信息管理平台。同时，用3~5年时间，力争将中心发展成以纺织为特色的“信息学应用研究中心”，创造下一个百年的辉煌。</span><br>
    <div align="center"><img src="{% static 'images/imgB0.gif' %}"></div>
    <b>七、建设宗旨</b><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;按照“专注、敬业、创新、奉献”的中心宗旨，以及“咬定纺织不放松，立根原在智造中”的发展理念，围绕中心的“纺织智能制造”特色，做好三个方向、打造一个团队、凝聚一批人才、建好一个中心、服务一个行业。</span><br>
    <b>八、平台优势</b><br>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;依托西安工程大学纺织特色优势学科群，以管理学院为平台，借助与中科院计算机网络信息中心，浙江洁丽雅集团有限公司、咸阳纺织集团，中科院固体物理所，北京301医院等良好的产学研合作关系，与科研院所之间的强强联合，重点开展互联网+纺织智造，纤维材料高通量计算，多源异构纺织数据融合三个方面的交叉学科研究。</span><br>
    <b>九、研究方向</b><br>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;方向一：互联网+纺织智造</b></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该方向作为“管理科学与工程”一级学科的一个学科研究方向，涵盖了数据库、通信、计算、智能、控制等相关学科的基础理论，因此本学科须具备系统论、控制论、信息论以及智能科学等理论基础。</p>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;方向二：纤维材料高通量计算</b></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该方向作为一门较为前沿的交叉性学科，涵盖了量子力学、固体物理、高性能计算、大数据分析等相关学科的基础理论，因此本学科须具备固体物理，计算机应用等基础。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;方向三：多源异构纺织数据融合</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该方向作为一门交叉学科。涵盖了计算智能、机器学习、高性能计算、大数据分析等相关学科的基础理论，因此本学科须具备数理统计，机器学习等大数据方法和技术。</p>

</div>
</div>
{% endblock %}